In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [34]:
features = pd.read_csv('./data/TrainFeatures.csv')
outcome = pd.read_csv('./data/TrainOutcome.csv')
outcome

          id             status_group
0      69572               functional
1       8776               functional
2      34310               functional
3      67743           non functional
4      19728               functional
5       9944               functional
6      19816           non functional
7      54551           non functional
8      53934           non functional
9      46144               functional
10     49056               functional
11     50409               functional
12     36957               functional
13     50495               functional
14     53752               functional
15     61848               functional
16     48451           non functional
17     58155           non functional
18     34169  functional needs repair
19     18274               functional
20     48375               functional
21      6091               functional
22     58500  functional needs repair
23     37862               functional
24     51058               functional
25     22308  functional needs repair
26     55012               functional
27     20145               functional
28     19685           non functional
29     69124               functional
...      ...                      ...
59370  14796               functional
59371  20387           non functional
59372  29940           non functional
59373  15233               functional
59374  49651               functional
59375  50998               functional
59376  34716           non functional
59377  43986           non functional
59378  38067               functional
59379  58255               functional
59380  30647           non functional
59381  67885           non functional
59382  47002           non functional
59383  44616               functional
59384  72148           non functional
59385  34473               functional
59386  34952               functional
59387  26640               functional
59388  72559               functional
59389  30410               functional
59390  13677               functional
59391  44885           non functional
59392  40607           non functional
59393  48348               functional
59394  11164           non functional
59395  60739               functional
59396  27263               functional
59397  37057               functional
59398  31282               functional
59399  26348               functional

[59400 rows x 2 columns]

In [35]:
pd.isnull(features).any()

id                       False
amount_tsh               False
date_recorded            False
funder                    True
gps_height               False
installer                 True
longitude                False
latitude                 False
wpt_name                 False
num_private              False
basin                    False
subvillage                True
region                   False
region_code              False
district_code            False
lga                      False
ward                     False
population               False
public_meeting            True
recorded_by              False
scheme_management         True
scheme_name               True
permit                    True
construction_year        False
extraction_type          False
extraction_type_group    False
extraction_type_class    False
management               False
management_group         False
payment                  False
payment_type             False
water_quality            False
quality_group            False
quantity                 False
quantity_group           False
source                   False
source_type              False
source_class             False
waterpoint_type          False
waterpoint_type_group    False
dtype: bool

In [36]:
features.shape

(59400, 40)

In [37]:
na_removed = features.dropna()
na_removed.shape

(27813, 40)

In [38]:
null_indices = features.columns[features.isna().any()].tolist()
for index in null_indices:
    mode = features[index].mode().iloc[0]
    features[index].loc[pd.isnull(features[index])] = mode
    
pd.isnull(features).any()

C:\Users\james\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

id                       False
amount_tsh               False
date_recorded            False
funder                   False
gps_height               False
installer                False
longitude                False
latitude                 False
wpt_name                 False
num_private              False
basin                    False
subvillage               False
region                   False
region_code              False
district_code            False
lga                      False
ward                     False
population               False
public_meeting           False
recorded_by              False
scheme_management        False
scheme_name              False
permit                   False
construction_year        False
extraction_type          False
extraction_type_group    False
extraction_type_class    False
management               False
management_group         False
payment                  False
payment_type             False
water_quality            False
quality_group            False
quantity                 False
quantity_group           False
source                   False
source_type              False
source_class             False
waterpoint_type          False
waterpoint_type_group    False
dtype: bool

In [39]:
categorical_indices = features.loc[:, features.dtypes == object].columns.values
categorical_indices

array(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
       'subvillage', 'region', 'lga', 'ward', 'recorded_by',
       'scheme_management', 'scheme_name', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source',
       'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'], dtype=object)

In [40]:
# Removing date recorded
categorical_indices = categorical_indices[1:]
for index in categorical_indices:
    features[index] = features[index].replace(features[index].unique(), np.arange(len(features[index].unique())))
    print("done with " + index)

categorical_outcome = np.where((outcome['status_group'] == 'functional') | (outcome['status_group'] == 'functional needs repair'), 0, 1)

done with funder
done with installer
done with wpt_name
done with basin
done with subvillage
done with region
done with lga
done with ward
done with recorded_by
done with scheme_management
done with scheme_name
done with extraction_type
done with extraction_type_group
done with extraction_type_class
done with management
done with management_group
done with payment
done with payment_type
done with water_quality
done with quality_group
done with quantity
done with quantity_group
done with source
done with source_type
done with source_class
done with waterpoint_type
done with waterpoint_type_group

In [74]:
for index in categorical_indices:
    table = pd.crosstab(features[index], categorical_outcome)
    c, p, dof, expected = chi2_contingency(table.values)
    print(index + ': ' + str(p))

funder: 0.0
installer: 0.0
wpt_name: 1.602005133386841e-14
basin: 9.503491353435246e-250
subvillage: 0.0
region: 0.0
lga: 0.0
ward: 0.0
recorded_by: 1.0
scheme_management: 2.053820889588274e-275
scheme_name: 0.0
extraction_type: 0.0
extraction_type_group: 0.0
extraction_type_class: 0.0
management: 0.0
management_group: 1.2164084600542044e-27
payment: 0.0
payment_type: 0.0
water_quality: 0.0
quality_group: 0.0
quantity: 0.0
quantity_group: 0.0
source: 0.0
source_type: 2.7249866980259213e-304
source_class: 4.768572104161305e-36
waterpoint_type: 0.0
waterpoint_type_group: 0.0

In [75]:
features.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                     int64
gps_height                 int64
installer                  int64
longitude                float64
latitude                 float64
wpt_name                   int64
num_private                int64
basin                      int64
subvillage                 int64
region                     int64
region_code                int64
district_code              int64
lga                        int64
ward                       int64
population                 int64
public_meeting              bool
recorded_by                int64
scheme_management          int64
scheme_name                int64
permit                      bool
construction_year          int64
extraction_type            int64
extraction_type_group      int64
extraction_type_class      int64
management                 int64
management_group           int64
payment                    int64
payment_type               int64
water_quality              int64
quality_group              int64
quantity                   int64
quantity_group             int64
source                     int64
source_type                int64
source_class               int64
waterpoint_type            int64
waterpoint_type_group      int64
dtype: object

TODO: continuous indices